layout pyenv 3.11.9

# Install Zephyr project based on https://docs.zephyrproject.org/latest/develop/getting_started/index.html
if [ ! -d ./zephyrproject ]; then
    pip install -r requirements.txt
    west init ./zephyrproject
    cd ./zephyrproject
    west update
    west zephyr-export
    cd ..
    pip install -r ./zephyrproject/zephyr/scripts/requirements.txt
fi
