layout pyenv 3.9.13

# Install Zephyr project based on https://docs.zephyrproject.org/latest/develop/getting_started/index.html
if [ ! -d ./zephyrproject ]; then

    # Install dependencies
    sudo apt-get --yes --force-yes install --no-install-recommends git cmake ninja-build gperf \
      ccache dfu-util device-tree-compiler wget \
      python3-dev python3-pip python3-setuptools python3-tk python3-wheel xz-utils file \
      make gcc gcc-multilib g++-multilib libsdl2-dev libmagic1


    pip install -r requirements.txt
    west init ./zephyrproject
    cd ./zephyrproject
    west update
    west zephyr-export
    cd ..
    pip install -r ./zephyrproject/zephyr/scripts/requirements.txt
fi

# Install Zephyr SDK
if [ ! -d zephyr-sdk-0.16.8 ]; then
    wget https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.8/zephyr-sdk-0.16.8_linux-x86_64.tar.xz
    wget -O - https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v0.16.8/sha256.sum | shasum --check --ignore-missing && tar xvf zephyr-sdk-0.16.8_linux-x86_64.tar.xz && rm zephyr-sdk-0.16.8_linux-x86_64.tar.xz
    cd zephyr-sdk-0.16.8
    ./setup.sh
    cd ..
    sudo cp ./zephyr-sdk-0.16.8/sysroots/x86_64-pokysdk-linux/usr/share/openocd/contrib/60-openocd.rules /etc/udev/rules.d
    sudo udevadm control --reload
fi
