cffi==1.16.0
click==8.1.7
colorama==0.4.6
crcmod==1.7
cryptography==43.0.0
docopt==0.6.2
ecdsa==0.19.0
intelhex==2.3.0
libusb1==1.9.3
nrfutil==6.1.7
packaging==24.1
pc-ble-driver-py==0.17.0
piccata==2.0.3
protobuf==3.20.3
pycparser==2.22
pyelftools==0.31
pykwalify==1.8.0
pyserial==3.5
pyspinel==1.0.3
python-dateutil==2.9.0.post0
PyYAML==6.0.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
six==1.16.0
tqdm==4.66.5
west==1.2.0
wrapt==1.16.0
